.idea/
logs/
utils/__pycache__/

free-spoken-digit-dataset-master/
spectrograms/
spectrograms_split/
recordings/
models/__pycache__/

datasets/
generated/
checkpoints/cgan/

checkpoints/cwgan-gp/

checkpoints/cgan-2/

checkpoints/cwgan-gp-2/

checkpoints/cwgan-gp-4/

__pycache__/

checkpoints/cwgan-gp-4-2/
